@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=cyrillic');

@mixin placeholder($font-size, $color) {
    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: $font-size;
        color: $color;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        font-size: $font-size;
        color: $color;
    }

    :-ms-input-placeholder {
        /* IE 10+ */
        font-size: $font-size;
        color: $color;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        font-size: $font-size;
        color: $color;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes error {
    0% {
        left: 0;
    }

    30% {
        left: -10px
    }

    60% {
        left: 10px;
    }

    90% {
        left: 0px
    }
}

body {
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
}

.main {
    width: 150px;
    height: 60px;
    background-color: rgb(39, 18, 230);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    transition: .3s background-color ease;
}

.reset {
    width: 150px;
    height: 60px;
    background-color: rgb(39, 18, 230);
    display: block;
    border: none;
    color: #fff;
    font-family: inherit;
    font-size: inherit;

    transition: .3s background-color ease;
}

.reset:hover,
.main:hover,
.active:hover {
    background-color: rgb(8, 0, 85);
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 2;
}

.heading {
    font-size: 28px;
    font-weight: 700;
}

.modal-form {
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.55);
    background-color: #fff;
    margin-top: 60px;
    padding: 60px 40px;

    input {
        width: 80%;
        display: block;
        margin: 20px auto;
        height: 60px;
        border: 1px solid #0000007a;
        padding-left: 15px;
        transition: .3s ease border-color;
        position: relative;
        outline: none;

        &+span {
            color: red;
            font-size: 11px;
            font-weight: 700;
            height: 0;
            display: block;
            text-align: center;
            position: relative;
            top: -10px;
        }

        &.valid {
            border-color: rgba(24, 184, 90, 0.507);

            &+span {
                display: none;
            }
        }

        &.invalid {
            border-color: rgba(184, 24, 24, 0.507);
            animation: error .3s 1;

            &+span {
                display: block;
            }
        }
    }

    button {
        width: 150px;
        height: 60px;
        border: none;
        display: block;
        margin: 10px auto;
        transition: .3s background-color ease;

        &.active {
            background-color: rgb(35, 0, 161);
            color: #fff;
            
        }

        &.unactive {
            background-color: rgb(124, 124, 124);
            color: #fff;
        }
    }
}

.form-data {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.55);
    text-align: center;

    p {
        margin: 10px 0;
    }

    .reset {
        margin: 20px auto;
    }
}



@include placeholder(20px, rgba(0, 0, 0, .5));